<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{registration_form}}
        <input type="submit" value="Registration">
        <div>
            {% if error %}
            <h1>{{error}}</h1>
            {% endif %}
        </div>
    </form>
    <a href="{% url 'myapp:main_page' %}">Main page</a>
</body>
</html>