<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Post</title>
    <style>
        div{
            border:1px solid black;
            padding:20px;
        }
    </style>
</head>
<body>
    <div>
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
        <h4>{{post.slug}}</h4>
    </div>
    <a href="{% url 'myapp:user_page' %}">Back</a>
    <form action="{% url 'myapp:post_comment' post.id%}" method="post">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" value="Add comment">
    </form>
    {% if comment %}
            <p>{{comment.name}}</p>
            <p>{{comment.email}}</p>
            <p>{{comment.body}}</p> 
    {% endif %}
</body>
</html>